{% extends 'DemoTutorialBundle:Default:album_base.html.twig' %}

{% block body %}

<h1>{{ title }}</h1>
<form action="{{ path('_album_edit_save') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" name="edit" value="Save" />
    <input type="submit" name="edit" value="Cancel" />
</form>

{% endblock body %}
